<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Axis4">
            <directory prefix="Test" suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
